
.site-footer {
    font-weight: 400;
    background-color: $footer-background-color;
    color: $footer-color-text;

    ul,
    ol,
    li {
        list-style-type: none;
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $footer-color-title;
    }

    a {
        color: $footer-color-link;

        &:hover {
            color: $footer-color-hover;
        }
    }

    .footer-top {
        padding-top: 120px;
        text-align: center;

        .container {
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #fff;
                opacity: .12;
                margin-top: 80px;
            }
        }

        .content-footer-top {
            font-size: 16px;
            line-height: 1.75;
            word-break: break-word;
            max-width: 690px;
            margin-right: auto;
            margin-left: auto;

            img {
                margin-bottom: 3px;
            }
        }

        @media (max-width: 767px) {
            padding-top: 70px;
            .container {
                &::after {
                    margin-top: 40px;
                }
            }
        }
    }

    .social-links {
        margin-top: 30px;

        .socials {
            list-style-type: none;
            padding: 0;
            display: block;
            margin: -4px;

            li {
                display: inline-block;
                margin: 4px;

                a {
                    color: #a8a8a8;
                    font-size: 14px;
                    line-height: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 39px;
                    height: 39px;
                    border-radius: 50%;
                    border: none;
                    background-color: rgba(255, 255, 255, .1);
                    padding: 0px;
                    transition: all .2s;

                    &:hover {
                        border-color: $primary-color;
                        background-color: $primary-color;
                        color: #fff;
                    }
                }
            }
        }
    }

    .footer-sidebars {
        padding-top: 73px;
        padding-bottom: 16px;

        .col-footer {
            margin-bottom: 50px;

            &:first-child {
                flex-grow: 2.2;
            }
        }

        .widget {
            .widget-title {
                font-weight: 500;
                font-size: 18px;
                line-height: 1.666666;
                text-transform: uppercase;
                word-break: break-word;
                margin-bottom: 24px;
                color: #fff;
            }
        }

        .menu {
            .menu-item {
                margin-bottom: 5px;

                a {
                    font-size: 16px;
                    line-height: 1.75;
                    word-break: break-word;
                    transition: all .2s;
                }
                
            }
        }

        .list-contact {
            ul {
                list-style-type: none;
                margin: 0;

                li {
                    font-size: 16px;
                    line-height: 1.75;
                    word-break: break-word;
                    padding-left: 28px;
                    position: relative;
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    i {
                        color: $primary-color;
                        position: absolute;
                        top: 1px;
                        left: 0;
                    }
                }
            }
        }

        .list-contact-2 {
            display: flex;
            justify-content: center;

            .item-list {
                text-align: center;
                padding: 30px 5%;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 51px;
                    background-color: #fff;
                    opacity: .1;
                    position: absolute;
                    top: 37px;
                    right: 0;
                }

                &:last-child:after {
                    display: none;
                }

                .symbol {
                    font-size: 28px;
                    line-height: 1;
                    color: $primary-color;
                    margin-bottom: 17px;
                }

                .description {
                    color: #fff;
                    line-height: 1.5;
                    text-transform: uppercase;

                    a {
                        color: inherit;
                        transition: all .2s;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }

            @media (max-width: 1299px) {
                .item-list {
                    padding: 30px 3%;
                }
            }

            @media (max-width: 991px) {
                flex-wrap: wrap;

                .item-list {
                    width: 50%;
                    padding-left: 20px;
                    padding-right: 20px;

                    &::after {
                        display: none;
                    }
                }
            }

            @media (max-width: 575px) {
                .item-list {
                    width: 100%;
                }
            }
        }

        .footer-logo {
            font-weight: 600;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            white-space: nowrap;
            color: $primary-color;

            a {
                color: inherit;
            }
        }

        @media (max-width: 767px) {
            padding-top: 50px;
        }
    }

    .copyright-area {
        .container {
            padding-bottom: 46px;

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #fff;
                opacity: .12;
                margin-bottom: 46px;
            }
        }

        .copyright-text {
            font-size: 16px;
            line-height: 1.75;
            text-align: center;
            word-break: break-word;
            padding: 5px 0;

            a {
                transition: all .2s;
                color: $primary-color;

                &:hover {
                    color: #fff;
                }
            }
        }

        .copyright-menu {
            text-align: center;
            padding: 5px 0;
            letter-spacing: 16px;

            .menu-item {
                display: inline-block;
                letter-spacing: normal;
                position: relative;

                &::after {
                    content: '|';
                    position: absolute;
                    top: 1px;
                    right: -11px;
                }

                &:last-child:after {
                    display: none;
                }

                a {
                    font-size: 16px;
                    line-height: 1.75;
                    word-break: break-word;
                    transition: all .2s;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    &.style-1 {
        font-weight: 300;
        background-color: $primary2-color;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #e1e1e1;

        h1, h2, h3, h4, h5, h6 {
            color: #fff;
        }

        a {
            color: #e1e1e1;

            &:hover {
                color: $primary-color;
            }
        }

        .footer-top {
            padding-top: 150px;

            .container {
                &::after {
                    background: #fff;
                }
            }

            @media (max-width: 767px) {
                padding-top: 70px;
            }
        }

        .social-links {
            .socials {
                li {
                    a {
                        color: #fff;
                        background-color: rgba(255, 255, 255, .12);

                        &:hover {
                            border-color: $primary-color;
                            background-color: $primary-color;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .footer-sidebars {
            .widget {
                .widget-title {
                    color: #fff;
                }
            }
        }

        .copyright-area {
            .container {
                &::before {
                    background: #fff;
                }
            }

            .copyright-text {
                a {
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    &.style-2 {
        background-color: #002348;
        color: #b3c5d9;

        h1, h2, h3, h4, h5, h6 {
            color: #fff;
        }

        a {
            color: #b3c5d9;

            &:hover {
                color: $primary-color;
            }
        }

        .footer-top {
            padding-top: 120px;
            @media (max-width: 767px) {
                padding-top: 70px;
            }

            .container {
                &::after {
                    background: #fff;
                }
            }

            .content-footer-top {
                font-size: 18px;
                max-width: 857px;

                .title {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 1.72;
                    max-width: 600px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 21px;
                }
            }

            .element-button.layout-1 {
                margin-top: 43px;

                .button {
                    color: #fff;

                    &:hover {
                        color: $primary-color;
                    }

                    &::before {
                        height: 4px;
                    }
                }
            }

            .social-links {
                .socials {
                    li {
                        a {
                            color: #fff;
                            background-color: rgba(255, 255, 255, .10);

                            &:hover {
                                border-color: $primary-color;
                                background-color: $primary-color;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        .social-links {
            margin-bottom: 18px;

            .socials {
                li {
                    a {
                        color: rgba(255, 255, 255, .6);
                        border: 1px solid rgba(255, 255, 255, .2);
                        background-color: transparent;

                        &:hover {
                            border-color: $primary-color;
                            background-color: $primary-color;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .footer-sidebars {
            padding-top: 48px;
            padding-bottom: 48px;

            .widget {
                .widget-title {
                    color: #fff;
                }
            }
        }

        .copyright-area {
            .container {
                padding-bottom: 67px;

                &::before {
                    margin-bottom: 80px;
                    background: #fff;
                }
            }

            .copyright-text {
                a {
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    &.style-3 {
        background-color: #f0f0f0;
        color: $text-color-01;

        h1, h2, h3, h4, h5, h6 {
            color: $title-color-01;
        }

        a {
            color: $text-color-01;

            &:hover {
                color: $primary-color;
            }
        }

        .footer-top {
            padding-top: 180px;
        }

        .social-links {
            .socials {
                li {
                    a {
                        color: $title-color-01;
                        background-color: rgba(112, 112, 112, .10);

                        &:hover {
                            border-color: $primary-color;
                            background-color: $primary-color;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .footer-sidebars {
            .widget {
                .widget-title {
                    color: $title-color-01;
                }
            }
        }

        .copyright-area {
            .copyright-text {
                a {
                    &:hover {
                        color: $title-color-01;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        .footer-sidebars {
            padding-bottom: 16px;
            padding-top: 50px;

            .col-footer {
                margin-bottom: 30px;
            }
        }

        &.style-2 {
            .footer-top {
                padding-top: 70px;

                .content-footer-top {
                    font-size: 16px;

                    .title {
                        font-size: 20px;
                        margin-bottom: 15px;
                    }
                }

                .element-button.layout-1 {
                    margin-top: 25px;
                }
            }

            .social-links {
                margin-bottom: 18px;
            }

            .footer-sidebars {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .copyright-area {
                .container {
                    padding-bottom: 40px;

                    &::before {
                        margin-bottom: 60px;
                        background: #fff;
                    }
                }
            }
        }
        &.style-3 {
            .footer-top {
                padding-top: 60px;
            }
        }
    }
}